*{
    box-sizing: border-box;
}
/*sets properties for the images*/
#gallery img{
    width: 25%;
    height: 300px;
    
   /*User object-fit property determines how images should behave */
   object-fit: cover;

   /*Puts space between the images*/
   margin-top: 8px;
   padding: 0 4px;

   /*How sharp the edges are*/
   border-radius: 10px;
  }

  body{
    margin:0;
    font-family: 'PT Serif', serif;
    font-size: x-large;
    background: #cc9d9d;
    color:white;
  }

  .header{
    padding: 32px;
    background:#7633338f;
    text-align: center;
  }

   /*Flexbox focuses on the flow of content*/
  #gallery{
    display:flex;

    /*Flexbox can be thought of as having two axes, the main axis
    and the cross axis.*/
    flex-direction:row;

   /*Flex-wrap determines how items should behave when the flex container
   is too small. nowrap will prevent your items from wrapping*/
   flex-wrap: wrap;

   /*determines positions along the main axis, affecting their position 
   and space around them*/
   justify-content: center;

   align-items:center;
   padding: 0 4px;
  }

  /*I created a media query for screens smaller than 800px in width
  Setting width to 50% will convert the gallery into a two-col layout*/
  @media(max-width: 800px){
    #gallery img{
      width: 50%;
    }
  }

  /*I created a media query for screens smaller than 600px in width
  Setting width to 50% will convert the gallery into a one-col layout*/
  @media (max-width: 600px){
    #gallery img{
      width: 100%;
    }
  }